<div class="containerBut">
  <div class="home" routerLink="/index"><span>Home</span> / Species</div>
  <div class="buttons">
    <button *ngIf="page != 1" (click)="changePage(page - 1)" class="btnArrow">
      <
    </button>
    <span *ngFor="let in of counter(); let i = index">
      <button
        *ngIf="i > page - 4 && i < page + 2 || i+1===maxPages|| i+1===1"
        [ngClass]="{ btnActive: page === i + 1 }"
        (click)="changePage(i + 1)"
      >
        {{ i + 1 }}
      </button>
    </span>
    <button
      class="btnArrow"
      *ngIf="page != maxPages"
      (click)="changePage(page + 1)"
    >
      >
    </button>
  </div>
  <div class="container">
    <a [routerLink]="'/species/' + specie.url.split('/')[5]" *ngFor="let specie of list.results">
      <mat-card class="example-card">
        <img
          mat-card-image
          [src]="imgUrlBase + specie.url.split('/')[5] + '.jpg'"
          alt="image not found"
          (error)="handleMissingImage($event)"
        />
        <mat-card-title>{{ specie.name }}</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card>
    </a>
  </div>
</div>
