<div class="container">
    <button mat-raised-button color="primary" routerLink="/people">People</button>
    <button mat-raised-button color="primary" routerLink="/films">Films</button>
    <button mat-raised-button color="primary" routerLink="/planets">Planets</button>
    <button mat-raised-button color="primary" routerLink="/species">Species</button>
    <button mat-raised-button color="primary" routerLink="/starships">Starships</button>
    <button mat-raised-button color="primary" routerLink="/vehicles">Vehicles</button>
</div>