<div class="home"><span routerLink="/index">Home</span> / <span routerLink="/vehicles">vehicles</span> / {{vehicle.name}}</div>
<div class="basicContainer mat-elevation-z2">
    <img [src]="imgUrlBase + vehicle.url.split('/')[5] + '.jpg'" alt="Photo of a Shiba Inu" (error)="handleMissingImage($event)">
    <div class="details">
        <h2>{{vehicle.name}}</h2>
        <p>
            <span><strong>Modelo:</strong> {{vehicle.model}}</span>
            <br>
            <span><strong>Constructor:</strong> {{vehicle.manufacturer}}</span>
            <br>
            <span><strong>Clase:</strong> {{vehicle.vehicle_class}}</span>
            <br>
            <span><strong>Precio:</strong> {{vehicle.cost_in_credits}}</span>
            <br>
            <span><strong>Velocidad máxima:</strong> {{vehicle.max_atmosphering_speed}}</span>
            <br>
            <span><strong>Longitud:</strong> {{vehicle.length}}</span>
            <br>
            <span><strong>Capacidad:</strong> {{vehicle.cargo_capacity}}</span>
            <br>
            <span><strong>Tripulación:</strong> {{vehicle.crew}}</span>
            <br>
            <span><strong>Pasajeros</strong> {{vehicle.passengers}}</span>
        </p>
    </div>
</div>