<div class="home"><span routerLink="/index">Home</span> / <span routerLink="/starships">Starship</span> / {{starship.name}}</div>
<div class="basicContainer mat-elevation-z2">
    <img [src]="imgUrlBase + starship.url.split('/')[5] + '.jpg'" alt="Photo of a Shiba Inu" (error)="handleMissingImage($event)">
    <div class="details">
        <h2>{{starship.name}}</h2>
        <p>
            <span><strong>Modelo:</strong> {{starship.model}}</span>
            <br>
            <span><strong>Constructor:</strong> {{starship.manufacturer}}</span>
            <br>
            <span><strong>Clase:</strong> {{starship.starship_class}}</span>
            <br>
            <span><strong>Precio:</strong> {{starship.cost_in_credits}}</span>
            <br>
            <span><strong>Velocidad máxima:</strong> {{starship.max_atmosphering_speed}}</span>
            <br>
            <span><strong>Nota de hyperdrive:</strong> {{starship.hyperdrive_rating}}</span>
            <br>
            <span><strong>MGLT:</strong> {{starship.MGLT}}</span>
            <br>
            <span><strong>Longitud:</strong> {{starship.length}}</span>
            <br>
            <span><strong>Capacidad:</strong> {{starship.cargo_capacity}}</span>
            <br>
            <span><strong>Tripulación:</strong> {{starship.crew}}</span>
            <br>
            <span><strong>Pasajeros:</strong> {{starship.passengers}}</span>
        </p>
    </div>
</div>