<div class="container">
    <button mat-raised-button [disabled]="page==1" (click)="changePage(page-1)">Previous</button>
    <button mat-raised-button [disabled]="page==i+1" *ngFor="let in of counter() ;let i = index" (click)="changePage(i+1)">{{i+1}}</button>
    <button mat-raised-button [disabled]="page==maxPages" (click)="changePage(page+1)">Next</button>
</div>
<div class="container" >
    <mat-card class="example-card" *ngFor="let ship of list.results">
        <mat-card-title>{{ship.name}}</mat-card-title>
        <mat-card-subtitle>{{ship.model}}</mat-card-subtitle>
        <img mat-card-image [src]="imgUrlBase + ship.url.split('/')[5] + '.jpg'" alt="Photo of a Shiba Inu" (error)="handleMissingImage($event)">
    </mat-card>
</div>