<div class="home"><span routerLink="/index">Home</span> / <span routerLink="/planets">Planets</span> / {{planet.name}}</div>
<div class="basicContainer mat-elevation-z2">
    <img [src]="imgUrlBase + planet.url.split('/')[5] + '.jpg'" alt="Photo of a Shiba Inu" (error)="handleMissingImage($event)">
    <div class="details">
        <h2>{{planet.name}}</h2>
        <p>
            <span><strong>Planeta:</strong> {{planet.population}}</span>
            <br>
            <span><strong>Periodo de rotación:</strong> {{planet.rotation_period}}</span>
            <br>
            <span><strong>Periodo orbital:</strong> {{planet.orbital_period}}</span>
            <br>
            <span><strong>Diámetro:</strong> {{planet.diameter}}</span>
            <br>
            <span><strong>Fuerza de gravedad:</strong> {{planet.gravity}}</span>
            <br>
            <span><strong>Terreno:</strong> {{planet.terrain}}</span>
            <br>
            <span><strong>Porcentaje de agua en superficie:</strong> {{planet.surface_water}}</span>
            <br>
            <span><strong>Clima:</strong> {{planet.climate}}</span>
        </p>
    </div>
</div>