<div class="home"><span routerLink="/index">Home</span> / <span routerLink="/people">Characters</span> / {{person.name}}</div>
<div class="basicContainer mat-elevation-z2">
    <img [src]="imgUrlBase + person.url.split('/')[5] + '.jpg'" alt="Photo of a Shiba Inu" (error)="handleMissingImage($event)">
    <div class="details">
        <h2>{{person.name}}</h2>
        <p>
            <span><strong>Año de nacimiento:</strong> {{person.birth_year}}</span>
            <br>
            <span><strong>Especies:</strong> </span><span *ngFor="let species of species">{{species.name}}</span>
            <br>
            <span><strong> Altura:</strong> {{person.height}}</span>
            <br>
            <span><strong>Peso:</strong> {{person.mass}}</span>
            <br>
            <span><strong>Genero:</strong> {{person.gender}}</span>
            <br>
            <span><strong>Color de pelo:</strong> {{person.hair_color}}</span>
            <br>
            <span><strong>Color de piel:</strong> {{person.skin_color}}</span>
            <br>
            <span><strong>Planeta de origen:</strong> {{planet.name}}</span>
        </p>
    </div>
</div>