<div class="basicContainer mat-elevation-z2">
    <img [src]="imgUrlBase + person.url.split('/')[5] + '.jpg'" alt="Photo of a Shiba Inu" (error)="handleMissingImage($event)">
    <div class="details">
        <h2>{{person.name}}</h2>
        <p>
            <span>{{person.birth_year}}</span>
            <br>
            <span *ngFor="let species of species">{{species.name}}</span>
            <br>
            <span>{{person.height}}</span>
            <br>
            <span>{{person.mass}}</span>
            <br>
            <span>{{person.gender}}</span>
            <br>
            <span>{{person.hair_color}}</span>
            <br>
            <span>{{person.skin_color}}</span>
            <br>
            <span>{{planet.name}}</span>
        </p>
    </div>
</div>