<div>
    <h2 mat-dialog-title>
        ¿Qué es esto?
    </h2>
    <hr>
    <p>¿Le cuesta recordar nombres, pero se le da muy bien recordar caras? A mí también. Por eso he creado esta aplicación web. Todo se basa en hacer clic, así que si estás interesado en informacion sobre los personajes, peliculas, planetas, etc... de las películas de Star Wars, haz clic en la categoría que desees, y selecciona el contenido que quieras conocer.</p>
    <br>
    <h2 mat-dialog-title>¿Por qué hay información desconocida?</h2>
    <hr>
    <p>Esta aplicación utiliza la API de Star Wars, por lo que la información que se muestra en esta aplicación se actualizará a medida que se actualice la API.</p>    
    <br>
    <p class="developers">Desarrollado por <a href="https://github.com/alvarofmk">Alvaro Franco</a> y <a href="https://github.com/SirMowglo">Alejandro Damas</a></p>
</div>