<div class="home"><span routerLink="/index">Home</span> / <span routerLink="/species">Species</span> / {{species.name}}</div>
<div class="basicContainer mat-elevation-z2">
    <img [src]="imgUrlBase + species.url.split('/')[5] + '.jpg'" alt="Photo of a Shiba Inu" (error)="handleMissingImage($event)">
    <div class="details">
        <h2>{{species.name}}</h2>
        <p>
            <span><strong>Clasificación:</strong> {{species.classification}}</span>
            <br>
            <span><strong>Designacion:</strong> {{species.designation}}</span>
            <br>
            <span><strong>Lenguaje:</strong> {{species.language}}</span>
            <br>
            <span><strong>Esperanza de vida:</strong> {{species.average_lifespan}}</span>
            <br>
            <span><strong>Altura media:</strong> {{species.average_height}}</span>
            <br>
            <span><strong>Colores de pelo:</strong> {{species.hair_colors}}</span>
            <br>
            <span><strong>Colores de piel:</strong> {{species.skin_colors}}</span>
            <br>
            <span><strong>Colores de ojos:</strong> {{species.eye_colors}}</span>
        </p>
    </div>
</div>