<div class="home"><span routerLink="/index">Home</span> / <span routerLink="/films">Films</span> / {{film.title}}</div>
<div class="basicContainer mat-elevation-z2">
    <img [src]="imgUrlBase + film.url.split('/')[5] + '.jpg'" alt="Photo of a Shiba Inu" (error)="handleMissingImage($event)">
    <div class="details">
        <h2>{{film.title}}</h2>
        <p>
            <span><strong>Fecha de estreno:</strong> {{film.release_date}}</span>
            <br>
            <span><strong>Director:</strong> {{film.director}}</span>
            <br>
            <span><strong>Productor:</strong> {{film.producer}}</span>
            <br>
            <span><strong>Sinopsis:</strong> {{film.opening_crawl}}</span>
        </p>
    </div>
</div>